

#navbar {
  background-color: rgba($color: $hbg, $alpha: .97);
  height: auto;
}

#block-sitebranding {
  @media screen and (min-width: $max-md) {
    width: auto;
  }
  width: 100%;
}

.region-navbar {
  @extend %max-width;
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;

  nav {
    @extend %none;

    @media screen and (min-width: $max-md) {
      display: block;
    }

    align-self: center;

    .menu {
      display: flex;
      flex-flow: wrap;
      justify-content: flex-start;
      list-style: none;
    }
  }

  .menu-item {
    font-family: 'Arial', Helvetica, sans-serif;
    margin: 0 15px;
    text-transform: uppercase;

    a {
      padding: 6px 15px;
      color: $color-text-light;
      position: relative;
      transition: all .3s;
      z-index: 1;

      &.is-active,
      &:hover {
        color: $color-text-light;

        &:after {
          border-radius: 30px;
          opacity: 1;
          visibility: visible;
          height: 100%;
        }
      }

      &:after {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        width: 100%;
        height: 1px;
        content: '.';
        color: transparent;
        background: $nav-active;
        visibility: none;
        opacity: 0;
        z-index: -1;
      }
    }
  }

  .navbar-logo {
    @media screen and (min-width: $max-md) {
      text-align: left;
    }

    text-align: center;

    img,
    a {
      height: auto;
    }
  }
}

.navbar-item {
  @media screen and (min-width: $max-md) {
    display: none;
  }
  display: block;
}

#header {
  background-color: rgba($color: $hbg, $alpha: .97);
  margin-top: 0;
  padding-top: 0;
}

// search form
.search-block-form {
  @media screen and (min-width: $max-md) {
    display: block;
  }
  display: none;
  margin-top: .8rem;
  width: 10rem;

  .form-actions {
    @extend %none;
  }

  .form-type-search {
    display: flex;
    position: relative;

    &::before {
      order: 3;
      line-height: 1.5;
      position: absolute;
      right: 0;
    }

    &.open {
      input[type='search'] {
        width: 100%;
      }

      &::before {
        background: url('../images/close.svg') 0 0 no-repeat;
        content: '';
        display: block;
        height: 20px;
        width: 20px;
        top: 9px;
      }
    }
  }

  input[type='search'] {
    color: $color-text-light;
    width: 0;
    transition: all .5s;

    &::placeholder {
      color: $color-text-light !important; //added to override base css code.
    }
  }

  label {
    clip: unset;
    cursor: pointer;
    font-size: 0;
    height: 20px;
    order: 2;
    right: 15px;
    top: 8px;
    visibility: visible;
    width: 20px;
  }
}

.region-drawer {
  .search-block-form {
    @media screen and (min-width: $max-md) {
      display: none;
    }
    display: block;
    width: initial;

    input[type='search'] {
      color: $color-text-dark;
      transition: all .5s;
      width: 0;

      &::placeholder {
        color: $color-text-dark !important; //added to override base css code.
      }
    }

    .form-type-search {
      transition: all .5s;
      width: 3rem;
      &.open {
        width: 15rem;

        &::before {
          background: url('../images/closeblack.svg') 0 0 no-repeat;
          content: '';
          display: block;
          height: 20px;
          top: 9px;
          width: 20px;
        }
      }
    }
  }
}

