/* break points */
.region-navbar {
  margin: 0 auto;
  max-width: 1460px; }

.region-navbar nav, .search-block-form .form-actions, .slick-carousel .slick-prev::before, .slick-carousel .slick-next::before, .slick-carousel .slick-dots button::before, .feed-icon {
  display: none; }

/* mixins and functions */
body,
h1,
h3 {
  font-family: "Gotham", sans-serif;
  font-weight: 300; }

h3 {
  color: #444e5d;
  font-weight: 400; }

h1,
h3 {
  font-size: 2.625rem; }
  @media screen and (max-width: 991px) {
    h1,
    h3 {
      font-size: 1.875rem; } }

img {
  height: auto;
  max-width: 100%; }

@media screen and (min-width: 992px) {
  .no-sidebars .container {
    width: 1460px; } }

#navbar {
  background-color: rgba(50, 58, 69, 0.97);
  height: auto; }

#block-sitebranding {
  width: 100%; }
  @media screen and (min-width: 991px) {
    #block-sitebranding {
      width: auto; } }

.region-navbar {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between; }
  .region-navbar nav {
    align-self: center; }
    @media screen and (min-width: 991px) {
      .region-navbar nav {
        display: block; } }
    .region-navbar nav .menu {
      display: flex;
      flex-flow: wrap;
      justify-content: flex-start;
      list-style: none; }
  .region-navbar .menu-item {
    font-family: 'Arial', Helvetica, sans-serif;
    margin: 0 15px;
    text-transform: uppercase; }
    .region-navbar .menu-item a {
      padding: 6px 15px;
      color: #FFF;
      position: relative;
      transition: all .3s;
      z-index: 1; }
      .region-navbar .menu-item a.is-active, .region-navbar .menu-item a:hover {
        color: #FFF; }
        .region-navbar .menu-item a.is-active:after, .region-navbar .menu-item a:hover:after {
          border-radius: 30px;
          opacity: 1;
          visibility: visible;
          height: 100%; }
      .region-navbar .menu-item a:after {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        width: 100%;
        height: 1px;
        content: '.';
        color: transparent;
        background: #ff4b5a;
        visibility: none;
        opacity: 0;
        z-index: -1; }
  .region-navbar .navbar-logo {
    text-align: center; }
    @media screen and (min-width: 991px) {
      .region-navbar .navbar-logo {
        text-align: left; } }
    .region-navbar .navbar-logo img,
    .region-navbar .navbar-logo a {
      height: auto; }

.navbar-item {
  display: block; }
  @media screen and (min-width: 991px) {
    .navbar-item {
      display: none; } }

#header {
  background-color: rgba(50, 58, 69, 0.97);
  margin-top: 0;
  padding-top: 0; }

.search-block-form {
  display: none;
  margin-top: .8rem;
  width: 10rem; }
  @media screen and (min-width: 991px) {
    .search-block-form {
      display: block; } }
  .search-block-form .form-type-search {
    display: flex;
    position: relative; }
    .search-block-form .form-type-search::before {
      order: 3;
      line-height: 1.5;
      position: absolute;
      right: 0; }
    .search-block-form .form-type-search.open input[type='search'] {
      width: 100%; }
    .search-block-form .form-type-search.open::before {
      background: url("../images/close.svg") 0 0 no-repeat;
      content: '';
      display: block;
      height: 20px;
      width: 20px;
      top: 9px; }
  .search-block-form input[type='search'] {
    color: #FFF;
    width: 0;
    transition: all .5s; }
    .search-block-form input[type='search']:-ms-input-placeholder {
      color: #FFF !important; }
    .search-block-form input[type='search']::placeholder {
      color: #FFF !important; }
  .search-block-form label {
    clip: unset;
    cursor: pointer;
    font-size: 0;
    height: 20px;
    order: 2;
    right: 15px;
    top: 8px;
    visibility: visible;
    width: 20px; }

.region-drawer .search-block-form {
  display: block;
  width: initial; }
  @media screen and (min-width: 991px) {
    .region-drawer .search-block-form {
      display: none; } }
  .region-drawer .search-block-form input[type='search'] {
    color: #000;
    transition: all .5s;
    width: 0; }
    .region-drawer .search-block-form input[type='search']:-ms-input-placeholder {
      color: #000 !important; }
    .region-drawer .search-block-form input[type='search']::placeholder {
      color: #000 !important; }
  .region-drawer .search-block-form .form-type-search {
    transition: all .5s;
    width: 3rem; }
    .region-drawer .search-block-form .form-type-search.open {
      width: 15rem; }
      .region-drawer .search-block-form .form-type-search.open::before {
        background: url("../images/closeblack.svg") 0 0 no-repeat;
        content: '';
        display: block;
        height: 20px;
        top: 9px;
        width: 20px; }

.top-wrapper {
  background: url("../images/bg.jpg") 0 0 no-repeat;
  background-size: cover;
  margin-bottom: 4rem; }

.cwrapper {
  display: flex;
  justify-content: center; }
  @media screen and (max-width: 991px) {
    .cwrapper {
      flex-flow: column; } }

.cimage {
  margin-right: 8rem; }
  @media screen and (max-width: 991px) {
    .cimage {
      align-items: center;
      align-self: center;
      display: flex;
      margin-right: 2rem; }
      .cimage img {
        max-height: 25rem;
        width: auto; } }
  .cimage img {
    max-height: 30rem;
    width: auto; }

.cbody {
  padding-top: 5rem; }
  @media screen and (max-width: 991px) {
    .cbody {
      padding-top: 1rem; } }

.ctitle a {
  color: #FFF; }
  .ctitle a:hover {
    color: #FFF; }

.slick-carousel {
  overflow: hidden; }
  .slick-carousel.slick-dotted {
    margin-bottom: 0 !important;
    padding-bottom: 30px; }
  .slick-carousel .slick-list {
    margin: 0 auto;
    max-width: calc(100vw - 30rem);
    padding: 6rem 0; }
    @media screen and (max-width: 991px) {
      .slick-carousel .slick-list {
        max-width: calc(100vw - 5rem);
        padding: 0; } }
  .slick-carousel .slick-prev {
    left: 3rem; }
    .slick-carousel .slick-prev::after {
      background: url("../images/left.svg") 0 0 no-repeat;
      background-size: 100%;
      border: 1px solid #FFF;
      content: "";
      display: block;
      height: 4rem;
      width: 4rem; }
  .slick-carousel .slick-next {
    right: 6rem; }
    .slick-carousel .slick-next::after {
      background: url("../images/right.svg") 0 0 no-repeat;
      background-size: 100%;
      border: 1px solid #FFF;
      content: "";
      display: block;
      height: 4rem;
      width: 4rem; }
  .slick-carousel .slick-disabled {
    opacity: 0.5; }
  .slick-carousel .slick-dots {
    bottom: 15px; }
    .slick-carousel .slick-dots button {
      background-color: #23282f;
      border-radius: 50%;
      height: 1rem;
      width: 1rem; }
    .slick-carousel .slick-dots .slick-active button {
      background-color: #6d7d92; }

.hcontent {
  display: flex;
  margin-bottom: 2rem; }
  @media screen and (max-width: 991px) {
    .hcontent {
      align-items: center;
      flex-flow: column;
      margin-bottom: 1rem;
      margin-left: 0;
      margin-right: 0; } }
  .hcontent.left .himage {
    margin-right: 1.5rem; }
  .hcontent.right {
    flex-flow: row-reverse; }
    @media screen and (max-width: 991px) {
      .hcontent.right {
        align-items: center;
        flex-flow: column; } }
    .hcontent.right .himage {
      margin-left: 1.5rem; }

.hdsc em {
  color: #ff4b5a; }

.hdsc h3 a {
  color: #444e5d; }

#footer {
  background-color: #323a45; }

/*# sourceMappingURL=../css/styles.css.map */
